
CREATE TABLE IF NOT EXISTS public.system_logs (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    timestamp TIMESTAMPTZ DEFAULT NOW(),
    agent TEXT NOT NULL,
    message TEXT NOT NULL,
    level TEXT DEFAULT 'INFO'
);

-- Enable Realtime
ALTER PUBLICATION supabase_realtime ADD TABLE system_logs;

